# Application Environment
NODE_ENV=production

# Puppeteer Configuration
PUPPETEER_SKIP_CHROMIUM_DOWNLOAD=true
PUPPETEER_EXECUTABLE_PATH=/usr/bin/chromium

# Notion API Integration (Optional)
NOTION_API_KEY=
NOTION_DATABASE_ID=
NOTION_ROOM_FIELD=Room No
NOTION_NAME_FIELD=Consumer Name
